asgiref==3.8.1
beautifulsoup4==4.12.3
Deprecated==1.2.14
Django==4.2.11
django-bootstrap-v5==1.0.11
jaconv==0.3.4
numpy==1.26.4
pandas==2.2.1
pykakasi==2.2.1
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
wrapt==1.16.0
setuptools==69.5.1
