<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Type Kanji{% endblock %}</title>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% load static %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}" style="padding-left: 20px;">Type-Kanji</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" style="padding-left: 10px; padding-right: 10px;">
                    <a class="nav-item nav-link {% if request.path == '/type/' %}active{% endif %}" href="{% url 'type' %}" style="padding: 10px;">Type</a>
                    <a class="nav-item nav-link {% if request.path == '/blog/' %}active{% endif %}" href="{% url 'blog' %}" style="padding: 10px;">About us</a>
                </div>                
            </div>
            <div class="ml-auto" style="padding-right: 20px;"> 
                <div class="dropdown" style="display: inline-block;"> 
                    <img src="media/static/logo.png" alt="Logo" style="height: 40px; width: auto;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ request.user.username }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
        
        
        {% block content %}
        {% endblock %}
    </body>
</html>
